# git config --global core.excludesfile ~/.gitignore_global

.DS_Store

*.class

bin/
.settings/
META-INF/
dbBANK/
# IntelliJ
.idea/
out/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# Maven files
target/
out/
# Package Files #

*.war
*.ear